{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% load allauth account %}


{% block extra_title %} | Login{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}

<section class="page-wrapper mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="account-card">

                    <h3 class="fs-3 text-center mb-5 mt-3">Sign In</h3>

                    <form method="POST" action="{% url 'account_login' %}" class="account-form">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        <div class="account-form-group fs-6">
                            <label for="{{ form.login.id_for_label }}">User Name</label>
                            {{ form.login }}
                            {{ form.login.errors }}
                        </div>

                        <div class="account-form-group fs-6">
                            <label for="{{ form.password.id_for_label }}">Password</label>
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>

                        {% if form.remember %}
                            <div class="account-remember">
                                {{ form.remember }}
                                <label for="{{ form.remember.id_for_label }}">Remember me</label>
                            </div>
                        {% endif %}

                        {{ redirect_field }}

                        <button class="account-submit-btn" type="submit">
                            Login
                        </button>
                    </form>

                    <a class="account-link" href="{% url 'account_signup' %}">
                        Signup for Account
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}