{% extends 'base.html'%}
{% load static %}
{% load allauth i18n %}

{% block extra_title %} | Logout{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
 <section class="page-wrapper mt-4 mb-5">
    <div class="container account-card">

        <p class="heading text-uppercase text-start mb-2 fs-1">
            My Account
        </p>
        
        <div class="row justify-content-center account-signout-page">
            <div class="col-12 col-md-8 col-lg-5">

                <div class="text-center">
                    <h1 class="fs-4 mb-3">
                        {% trans "Sign Out" %}
                    </h1>

                    <p class="mb-4">
                        {% trans "Are you sure you want to sign out?" %}
                    </p>

                    {% url 'account_logout' as action_url %}

                    <form method="POST" action="{{ action_url }}" class="account-form">
                        {% csrf_token %}
                        {{ redirect_field }}

                        <button class="btn account-submit-btn" type="submit">
                            {% trans "Sign Out" %}
                        </button>
                    </form>

                    <a href="{% url 'profile' %}" class="account-link mt-4">
                        Cancel and return to My Account
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}
