{% extends "base.html" %}
{% load static %}

{% block extra_title %} | Verify Email{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<section class="page-wrapper py-5 mb-5">
    <div class="container mt-5 pt-4 pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="account-card text-center">

                    <h2 class="fs-3 fw-bold mt-3 mb-5">
                        Verify Your Email
                    </h2>

                    <p>
                        We have sent a verification link to your email address.
                        Please check your inbox and click the link to activate your account.
                    </p>

                    <p class="small text-muted">
                        If you do not see the email, please check your spam or junk folder.
                    </p>

                    <a href="{% url 'account_login' %}"
                        class="btn btn-outline-dark fw-bold rounded-3 py-2 px-5 mt-3 d-inline-flex justify-content-center align-items-center"
                        style="min-width: 16rem;">
                            Back to Login
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}