{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Order History{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<section class="page-wrapper mt-5 mb-5">
    <div class="container">

        <p class="heading text-uppercase text-start text-md-center mb-2 fs-1">
            Order History
        </p>
        
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

                {% if orders %}
                    {% for order in orders %}
                        <div class="order-history-card mb-3">
                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                    <p class="fw-bold mb-1">
                                        Order Reference: UMAMI-{{ order.id|stringformat:"05d" }}
                                    </p>

                                    <p class="mb-1">
                                        Date: {{ order.date|date:"d M Y" }}
                                    </p>
                                </div>

                                <p class="fw-bold mb-0">
                                    Payment Status: {{ order.payment_status|title }}
                                </p>
                            </div>
                            <p class="fw-bold mb-0">
                                    £{{ order.grand_total }}
                            </p>
                        </div>

                        <hr>

                         {% for item in order.lineitems.all %}
                            <div class="d-flex justify-content-between mb-2">
                                <span>{{ item.product.name }} x {{ item.quantity }}</span>
                                <span>£{{ item.lineitem_total }}</span>
                            </div>
                        {% endfor %}

                        {% if order.delivery_date %}
                            <p class="mb-1 mt-3">
                                Delivery Date: {{ order.delivery_date }}
                            </p>
                        {% endif %}

                        {% if order.delivery_time %}
                            <p class="mb-0">
                                Delivery Time: {{ order.delivery_time }}
                            </p>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="text-center mt-5">
                        <p class="mb-3">You have not placed any orders yet.</p>
                        <a href="{% url 'shop_items' %}" class="btn profile-action-btn">
                            Browse Meals
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}