{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | My Account{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<section class="page-wrapper mt-4 mb-5">
    <div class="container profile-form">
        <div class="row">
            <p class="heading text-uppercase text-start mb-2 fs-1">
                My Account
            </p>

            <p class="text-start fs-6 mb-5">
                Welcome back, {{ request.user.username }}
            </p>
        </div>

        <div class="row profile-container">
            <a href="{% url 'edit_profile' %}" class="btn fs-2 mb-2 text-start">Profile Detail</a>
            <a href="{% url 'saved_meals' %}" class="btn fs-2 mb-2 text-start">Saved Meals</a>
            <a href="{% url 'order_history' %}" class="btn fs-2 mb-2 text-start">Order History</a>
            <a href="{% url 'account_logout' %}" class="btn fs-2 mb-2 text-start">Logout</a>
        </div>
    </div>
</section>

{% endblock %}