{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Checkout{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<section class="page-wrapper mt-5 mb-5">
    <div class="container">

        <p class="heading text-uppercase text-start text-md-center mb-4 fs-1">
            Checkout
        </p>

        <!-- Checkout progress -->
        <div class="row text-center mb-5 checkout-progress">
            <div class="col-4">
                <i class="bi bi-1-circle-fill"></i>
                <span>Delivery Details</span>
            </div>

            <div class="col-4">
                <i class="bi bi-2-circle"></i>
                <span>Delivery Date</span>
            </div>

            <div class="col-4">
                <i class="bi bi-3-circle"></i>
                <span>Payment</span>
            </div>
        </div>

        <div class="row g-4 justify-content-center">

            <!-- Order summary: hidden on mobile and medium, visible on desktop -->
            <div class="col-lg-7 d-none d-lg-block">
                <h2 class="fs-5 mb-3 order_summary_section">Order Summary</h2>

                <div id="checkoutBasketItems">
                    <!-- Basket items will be shown here with JavaScript -->
                </div>

                <div class="checkout-total-summary">
                <hr>
                    <div class="d-flex justify-content-between">
                        <h3 class="fs-6 mb-0">Sub-Total</h3>
                        <p class="fs-6 mb-0">£<span id="checkoutSubTotal">0.00</span></p>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h3 class="fs-6 mb-0">Delivery Fee</h3>
                        <p class="fs-6 mb-0">£<span id="checkoutDeliveryFee">0.00</span></p>
                    </div>

                    <div class="d-flex justify-content-between">
                        <h3 class="fs-6 mb-0">Total</h3>
                        <p class="fs-6 mb-0">£<span id="checkoutTotal">0.00</span></p>
                    </div>
                </div>
            </div>

            <!-- Checkout details -->
            <div class="col-12 col-md-8 col-lg-5">
                <div class="basket-summary">

                    <h2 class="fs-5 mb-3">Delivery Details</h2>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <input type="hidden" name="basket_data" id="basketData">

                        {{ order_form.non_field_errors }}

                        <div class="profile-form-group">
                            <span class="profile-form-label">Full Name:
                                <small class="required-text">* is required</small>
                            </span>
                            <div>
                                {{ order_form.full_name }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Email:
                                <small class="required-text">* is required</small>
                            </span>
                            <div>
                                {{ order_form.email }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Phone Number:
                                <small class="required-text">* is required</small>
                            </span>
                            <div>
                                {{ order_form.phone_number }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Street Address 1:
                                <small class="required-text">* is required</small>
                            </span>
                            <div>
                                {{ order_form.street_address_1 }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Street Address 2:</span>
                            <div>
                                {{ order_form.street_address_2 }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Postcode:
                                <small class="required-text">* is required</small></span>
                            <div>
                                {{ order_form.postcode }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Town or City:
                                <small class="required-text">* is required</small>
                            </span>
                            <div>
                                {{ order_form.town_or_city }}
                            </div>
                        </div>

                        <div class="profile-form-group">
                            <span class="profile-form-label">Country:
                                <small class="required-text">* is required</small>
                            </span>
                            <div>
                                {{ order_form.country }}
                            </div>
                        </div>

                        <button class="btn order-btn mt-3 fs-5" type="submit">
                            Continue to Delivery Date
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block postload_js %}
    {{ block.super }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}