{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-umami-top-nav py-3" aria-label="navigation">
        <div class="container-fluid nav-wrapper position-relative"> 
            
            <!--mobile nav toggle-->
            <button class="btn d-lg-none p-0 border-0 mobile-nav-icon"
                    type="button" 
                    data-bs-toggle="modal"
                    data-bs-target="#mobileNavMenu"
                    aria-label="Open navigation menu">
               <i class="bi bi-list"></i>
            </button>

            <!--logo-->
            <a class="navbar-brand brand-logo-center" href="{% url 'home' %}">UMAMI <br> BOX</a>
           
             <!-- Desktop nav links -->
            <div class="d-none d-lg-flex ms-auto align-items-center gap-4">
                <a class="desktop-nav-link" href="{% url 'home' %}">Home</a>
                <a class="desktop-nav-link" href="{% url 'shop' %}">Shop</a>
                <a class="desktop-nav-link" href="#">How It Works</a>
                <a class="desktop-nav-link" href="#">Sustainability</a>
                <a class="desktop-nav-link" href="#">About</a>
            </div>

            <!-- Right icons -->
            <!-- Account icon --> 
            <div class="ms-auto d-flex align-items-center">
                <a class="account-icon d-none d-md-inline-flex" href="#" aria-label="Account">
                    <i class="bi bi-person"></i>
                </a>
            <!-- Basket icon -->
                <a class="basket-icon ms-lg-4 mobile-basket-icon" href="{% url 'view_basket' %}" aria-label="Basket">
                    <i class="bi bi-bag"></i>
                    <span id="basketCount" class="basket-count d-none">0</span>
                </a>
            </div>           
        </div>  
    </nav>
</header>

<!-- Mobile Menue Modal -->
<div class="modal fade" 
    id="mobileNavMenu" 
    tabindex="-1" 
    aria-labelledby="mobileNavMenuLabel" 
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down m-0">
        <div class="modal-content nav-modal-content">
            <div class="modal-body px-4">
                <nav aria-label="Mobile navigation">
                    <ul class="list-unstyled nav-modal-list">
                        <li>
                            <a class="nav-modal-link" href="{% url 'home' %}">Home</a>
                        </li>

                        <li>
                            <a class="nav-modal-link" href="{% url 'shop' %}">Shop</a>
                        </li>

                        <li>
                            <a class="nav-modal-link" href="#">How It Works</a>
                        </li>

                        <li>
                            <a class="nav-modal-link" href="#">Sustainability</a>
                        </li>

                        <li>
                            <a class="nav-modal-link" href="#">About</a>
                        </li>

                        <br>

                        <li>
                            <a class="nav-modal-link" href="#">Account</a>
                        </li>

                        <li>
                            <a class="nav-modal-link" href="#">Basket</a>
                        </li>
                    </ul>
                </nav>
                <div class="d-flex justify-content-center close-button-wrapper">
                <button 
                    type="button" 
                    class="btn border-0" 
                    data-bs-dismiss="modal" 
                    aria-label="Close navigation menu"
                ><i class="bi bi-x-circle close-button"></i></button>
                </div>    
            </div>
        </div>
    </div>
</div>