#basketItems{
    background-color: blue;
    height: 200px;
}
#emptyBasketMessage{
    background-color:aquamarine;
    height: 200px;
}
#basketSummary{
    background-color: brown;
    height: 200px;
}